body{
    background-image: url(https://media1.tenor.com/images/271d5274aca673c713a18c7683c4c565/tenor.gif?itemid=13662076);
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

li{
    text-align: right;
}

footer{
    width: 30%;
    height: 100px;
    background-color: black;
    font-size: 16px;
    bottom: -200px;
    margin: auto;
    padding-top:50px;
    margin: auto;
    position: relative;
    text-align: center;
    margin-top: 10%;
    
}

footer.content{
    text-align: center;
    color: white;
    display: inline-block;
}

footer.content:hover{
    opacity: .7;
}

input {
    width: 100%;
    height: 30px;
    text-align: left;
    
}

.submit  {
    width: 100%;
    background-color: grey;
    padding: 10px 20px;
    border-radius: 8px;
}

.submit:hover{
    opacity: .7;
}

.button{
    width: fit-content;
    text-align: right;
    background-color: gray;
    padding: 10px 20px;
    float: right;
    border: 2px solid whitesmoke;
    text-decoration: none;
}
.button:hover{
        opacity: .7;
}
.signup_box{
    background-color: black;
    text-align: center;
    height: 100%;
    width: 300px;
    top: 0;
    left: -5;
    padding: 25px;
    color: white;
    border: 0;
    position: fixed;
    z-index: 999;

} 

.buythings{
    background-color: black;
    color: white;
    width: 500px;
    height: 450px;
    position: fixed;
    margin: auto;
    padding: 10px;
    right: 0;
    top: 150px;
    text-align: center;
}


.info{
    
    
    padding: 20px;
    color: black;
    width: 100%;
    text-align: right;
    margin-right: 20px;
    right: 10px;
    position: relative;
    top: -165px;
    
    
    
}

nav {
    position: fixed;
    background-color: black;
    top: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font: 32px;
    color: white;
    margin: auto;
    height:16%;
    z-index: 998;
    
   
    
    
    
    
    
}
h1{
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.fa {
padding: 20px;
font-size: 30px;
width: 20px;
text-align: center;
text-decoration: none;
align-content: center;
}


    .fa:hover {
    opacity: 0.7;
    }




    .fa-facebook {
    background: #3B5998;
    color: white;
    }

    .fa-instagram{
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    color: white;

    }



    .fa-twitter {
    background: #55ACEE;
    color: white;
    }

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    grid-auto-rows: minmax(100px, auto);
    margin:auto;
    position: relative;
    top: 150px;
    width: 855px;



  }
  

  .one {
    grid-column: 1 ;
    grid-row: 1;
  }

  .two { 
    grid-column: 2 ;
    grid-row: 1 ;
  }

  .three {
    grid-column: 1;
    grid-row: 2 ;
  }

  .four {
    grid-column: 2;
    grid-row: 2;
  }

  .five {
    grid-column: 1;
    grid-row: 3;
  }

  .six {
    grid-column: 2;
    grid-row: 3;
  }